alias ..="cd .."

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias ws="cd ~/Workspace"
alias gd='cd "/Volumes/GoogleDrive/My Drive/"'
alias g="git"

# Git aliases.
alias gs='git status'
alias gc='git commit'
alias gp='git pull --rebase'
alias gcam='git commit -am'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'

# tar current folder and place it up one directory
alias tarcd='base=$(basename $PWD);cd ..;tar -czf $base.tar.gz $base'

#ssh to a jb ios
#alias sshjb='ssh -p 2222 root@localhost'
# tar current folder and place it up one directory
alias tarcd='base=$(basename $PWD);cd ..;tar -czf $base.tar.gz $base'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Enable aliases to be sudo’ed
# alias sudo='sudo '

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
